[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
opencv-python = "*"
kafka-python = "*"
flask = "*"
pymongo = "*"
imutils = "*"

[requires]
python_version = "3.6"
